/*----------------
Necessary Colors
-----------------*/
$blue:#03a4ed;
$red:#fe3f40;
$white:#fff;
$black:#2a2a2a;
$pure-black:#111;
$white-shadow:#FAFAFA;
$shadow-white:0px 0px 10px rgba(0, 0, 0, 0.15);
$gradient-color:linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);
$gradient-color-opposite:linear-gradient(105deg, rgba(255, 44, 109, 1) 0%, rgba(255, 77, 30, 1) 100%);